body{
    margin: 0 0;
    padding: 0 0;
   
    border:none;
    background-color: black;
    color:white;
}

.again{

    font-size: 30rem;
    text-align: center;

}

.clickable{
    font-size: 2rem;
    color:white;
    text-shadow:2px 2px 2px rgb(49, 49, 49);
    cursor:pointer;
  
}

.clickable:hover{
    text-shadow:2px 2px 2px rgb(156, 155, 155);
}