html, body {
  margin: 0;
    height: 100%;
    padding:0;
    
  }
  body {
    background: rgb(19, 19, 19);
  
  
  }
  canvas {
    border: 2px solid rgb(255, 255, 255);
    background:rgb(19, 126, 19);
 
    
  }

  h2{
    background-color:white;
    color:rgb(56, 56, 56);
}

  a{
    display:block;
      border:10px;
    background-color:white;
    text-decoration: none;
    color:rgb(56, 56, 56);
    text-align: center;
    font-size: 30px;
   
  }

  h2:hover{
      
      display:block;
      
  }

  #canvas{
    text-align: center;
  }
 
